.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .content {
    background-color: rgb(red, green, blue);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
  }
  